{% extends "basis/basis.html" %}

<!-- Insert new title -->
{% block title %}Post Rubric Creation{% endblock %}

<!-- Content block -->
{% block content %}

	<h1>Create new <i>Post Rubric</i>!</h1>

	<div class="mx-auto form">
		<h2 class="text-center">POST RUBRIC CREATION</h2>

		{% if message %}
			<div class="alert alert-danger" role="alert">
				{{ message }}
			</div>
		{% endif %}

	<form method="POST" action="/posts/rubrics/create/">

		<div class="mb-3">
			<label for="title" class="form-label">Title</label>
			<input class="form-control" name="title" minlength=3 required>
		</div>
		
		<br>

		<button type="submit" class="btn btn-primary">Create</button>
	</form>

	</div>

{% endblock %}