# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.venv
venv/

# Static file [images]
core/static/images/

# Utils
utils/

# Logs
logs/
*.log

# PyCharm files
.idea/

# Config data
config/config.ini