<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

	<!-- self css -->
	<link rel="stylesheet" type="text/css" href="static/styles/style.css">

	<!-- Add `active` class in nav links -->

	<title>{% block title %}My Think{% endblock %}</title>
</head>
<body>
	<header>
		<!--  Navigation bar  -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="/"><b>MyThink</b></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<!-- Add new features for logged user -->
					{% if session.user %}
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">

						<!-- admin can create new rubric -->
						{% if session.user.is_admin == 1 %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Rubrics</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item" href="rubrics/">View rubrics</a></li>
									<li><a class="dropdown-item" href="create_rubric/">Create new rubric</a></li>
								</ul>
							</li>
						{% else %}
							<li class="nav-item">
									<a class="nav-link" aria-current="page" href="posts/">Rubrics</a>
								</li>
						{% endif %}

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Posts</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item" href="posts/">View posts</a></li>
									<li><a class="dropdown-item" href="my_posts/">View <b>My</b> posts</a></li>
									<li><a class="dropdown-item" href="create_post/">Create new post</a></li>
								</ul>
							</li>

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Notes</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item" href="posts/">View notes</a></li>
									<li><a class="dropdown-item" href="my_posts/">Create new note rubric</a></li>
									<li><a class="dropdown-item" href="create_post/">Create new note</a></li>
								</ul>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="#">Contacts</a>
							</li>

						</ul>
						
						<form class="d-flex me-5 pe-5">
							<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-success" type="submit">Search</button>
						</form>

						<ul class="navbar-nav mx-right me-5 pe-5">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item" href="settings/">Settings</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item" href="logout/">Logout</a></li>
								</ul>
							</li>
						</ul>
					{% else %}
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item">
									<a class="nav-link" id="rubrics" aria-current="page" href="posts/">Rubrics</a>
								</li>

								<li class="nav-item">
									<a class="nav-link" id="posts" aria-current="page" href="posts/">Posts</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="contacts" href="#">Contacts</a>
								</li>
							</ul>
							
							<form class="d-flex me-5 pe-5">
								<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
								<button class="btn btn-outline-success" type="submit">Search</button>
							</form>

							<ul class="navbar-nav mx-right me-5 pe-5">
								<li class="nav-item">
									<a class="nav-link" aria-current="page" href="sign_in/"><b>Sign In</b></a>
								</li>

								<li class="nav-item">
									<a class="nav-link" aria-current="page" href="sign_up/"><b>Sign Up</b></a>
								</li>
							</ul>
					{% endif %}
				</div>
			</div>
		</nav>
	</header>
	
	<main>
		{% block content %}
		{% endblock %}
	</main>

	<footer class="bg-dark text-light fixed-bottom text-center text-lg-start">
		<!-- Grid container -->
		<div class="container p-4">
			<!--Grid row-->
			<div class="row">
				<!--Grid column-->
				<div class="col-lg-6 col-md-12 mb-4 mb-md-0">
					<h5>Power of Think</h5>

					<p>
						It`s great and simle blog. You can add interesting posts on different rubrics and topics. Just share your experience with other people.
					</p>
				</div>
				<!--Grid column-->

				<!--Grid column-->
				<div class="col-lg-6 col-md-12 mb-4 mb-md-0">
					<h5>Become a part of MyThink</h5>

					<p>
						Also you can create notes that will serve like remainder. Just create account and start to explore your <i>Think</i> and <i>Thinks</i> of your colleagues.
					</p>
				</div>
				<!--Grid column-->
			</div>
			<!--Grid row-->
		</div>
		<!-- Grid container -->

		<!-- Copyright -->
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
			© 2021 Copyright:
			<a class="text-light" href="/">MyThink.com</a>
		</div>
		<!-- Copyright -->
	</footer>

	<!-- Add `active` class to current link -->
<!-- 	<script>
		if ( window.location.href == 'http://localhost:5000/rubrics/' ) {
			var el = document.getElementById("rubrics");
			var newClass = el.getAttribute("class");
			newClass += " active"; 
			el.setAttribute("class", newClass);
		} else if ( window.location.href == 'http://localhost:5000/posts/' ) {
			var el = document.getElementById("posts");
			var newClass = el.getAttribute("class");
			newClass += " active"; 
			el.setAttribute("class", newClass);
		} else if ( window.location.href == 'http://localhost:5000/contacts/' ) {
			var el = document.getElementById("contacts");
			var newClass = el.getAttribute("class");
			newClass += " active"; 
			el.setAttribute("class", newClass);
		}
	</script> -->

</body>
</html>