{% extends "basis.html" %}
{% block title %}New PostCreation Rubric{% endblock %}

{% block content %}
<!-- `Welcome` text -->
<div class="welcome-head">
	<h1>Edit <i>NoteCreation</i> rubric!</h1>
</div>

<div class="mx-auto form">
	<h2 class="text-center">NOTE RUBRIC EDITING</h2>

	{% if message %}
		<div class="alert alert-danger" role="alert">
			{{ message }}
		</div>
	{% endif %}

	<form method="POST" action="/notes/rubrics/edit/">
		<h3>EDIT RUBRIC</h3>

		<input type="hidden" name="user_id" value="{{ session.user.id }}">
		<input type="hidden" name="note_rubric_id" value="{{ note_rubric.id }}">

		<div class="mb-3">
			<label for="title" class="form-label">Title</label>
			<input class="form-control" name="title" required value="{{ note_rubric.title }}">
		</div>

		<br>

		<button type="submit" class="btn btn-primary">Edit</button>
	</form>

	<br>
	<br>

	<form method="POST" action="/notes/rubrics/delete/">
		<h3>DELETE RUBRIC</h3>

		<input type="hidden" name="user_id" value="{{ session.user.id }}">
		<input type="hidden" name="note_rubric_id" value="{{ note_rubric.id }}">

		<br>

		<button type="submit" class="btn btn-danger">Delete</button>
	</form>
</div>

{% endblock %}