{% extends "page_with_pagination.html" %}
{% block title %}MyNotes{% endblock %}

{% block inner_content %}
<!-- `Welcome` text -->
<div class="welcome-head">
	<h1>Here`s your <i>Notes</i>!</h1>
</div>

<div class="container notes-info">
		<div class="row align-items-start">
			<div class="col">
				<p class="text-center fs-3"><a href="{{ router['notes-create'].url_for() }}" class="font-monospace">Create a new NoteCreation</a></p>
			</div>

			<div class="col">
				<p class="text-center fs-3"><a href="{{ router['notes-rubrics-create'].url_for() }}">Create a new NoteCreation Rubric</a></p>
			</div>

			<div class="col">
				<p class="text-center fs-3"><a href="{{ router['notes-rubrics'].url_for() }}">Rubrics</a></p>
			</div>
		</div>
</div>

<div class="notes">
	<table class="table table-dark table-hover text-center">
		<thead>
			<tr>
				<th scope="col">NoteCreation</th>
				<th scope="col">Created</th>
				<th scope="col">Rubric</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for note in notes %}
				<tr>
					<td class="text-center fs-5" style="width: 70%"><a href="{{ router['notes-id'].url_for(id=note.id|string) }}" class="font-monospace a">{{ note.content }}</a></td>
					<td class="text-center fs-5">{{ note.created_date }}</td>
					<td class="text-center fs-5"><a class="font-monospace pointer" onclick="addUrlParameter('rubric', {{ note.note_rubric_id }})">{{ note.rubric }}</a></td>
					<td><button type="button" class="btn btn-primary" onclick="location.href='{{ router['notes-id-edit'].url_for(id=note.id|string) }}';">Edit</button></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}