{% extends "basis.html" %}
{% block title %}Post{% endblock %}

{% block content %}
<div class="welcome-head">
	<h1>Posts of <i>MyThink</i></h1>
</div>

<div class="posts-info">
	<div class="container">
		<div class="row align-items-start">
			<div class="col">
				<p class="text-center fs-4"><a href="{{ router['posts-create'].url_for() }}" class="font-monospace">Create a new Think</a></p>
			</div>

			<div class="col">
				<p class="text-center fs-3"><a href="{{ router['posts-random'].url_for() }}">Random post</a></p>
			</div>

			<div class="col">
				<p class="text-center fs-3"><a href="{{ router['posts-rubrics'].url_for() }}">Rubrics</a></p>
			</div>
		</div>
	</div>

	<div class="post">

		<p class="text-center fs-3">Title:</p>
		<p class="text-center fs-3">{{ post.title }}</p>

		<p class="text-center fs-4">Rubric:</p>
		<p class="text-center fs-4"><a href="{{ router['posts'].url_for() }}/rubric={{ post.post_rubric_id }}">{{ post.rubric }}</a></p>
		
		<p class="text-center fs-6">Content:</p>
		<p class="text-center fs-6">{{ post.content }}</p>

		<p class="text-center fs-5">Created date:</p>
		<p class="text-center fs-5">{{ post.created_date }}</p>

		<p class="text-center fs-5">Edited date:</p>
		<p class="text-center fs-5">{{ post.edited_date }}</p>

	</div>
{% endblock %}
