{% extends "page_with_pagination.html" %}
{% block title %}Posts{% endblock %}

{% block inner_content %}
<!-- `Welcome` text -->
<div class="welcome-head">
	<h1>Posts of <i>MyThink</i></h1>
</div>

<div class="posts-info">
	<div class="container">
		<div class="row align-items-start">
			<div class="col">
				<p class="text-center fs-4"><a href="{{ router['posts-create'].url_for() }}" class="font-monospace">Create a new Think</a></p>
			</div>

			<div class="col">
				<p class="text-center fs-3"><a href="{{ router['posts-random'].url_for() }}">Random post</a></p>
			</div>

			<div class="col">
				<p class="text-center fs-3"><a href="{{ router['posts-rubrics'].url_for() }}">Rubrics</a></p>
			</div>
		</div>
	</div>

	{% block data %}
	{% endblock %}

</div>
{% endblock %}