{% extends "basis.html" %}
{% block title %}New PostCreation Rubric{% endblock %}

{% block content %}
<!-- `Welcome` text -->
<div class="welcome-head">
	<h1>Create new <i>Think</i> rubric!</h1>
</div>

<div class="mx-auto form">
	<h2 class="text-center">POST RUBRIC CREATION</h2>

	{% if message %}
		<div class="alert alert-danger" role="alert">
			{{ message }}
		</div>
	{% endif %}

	<form method="POST" action="{{ router['posts-rubrics-create'].url_for() }}">

		<input type="hidden" name="user_id" value="{{ session.user.id }}">

		<div class="mb-3">
			<label for="title" class="form-label">Title</label>
			<input class="form-control" name="title" required>
		</div>
		
		<br>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

{% endblock %}