{% extends "basis.html" %}
{% block title %}Rubrics{% endblock %}

{% block content %}
<!-- `Welcome` text -->
<div class="welcome-head">
	<h1>Rubrics of <i>MyThink</i> posts</h1>
</div>

<div class="post-rubrics-body">
	<table class="table table-dark table-hover">
		<thead>
			<tr>
				<th scope="col">Title</th>
			</tr>
		</thead>
		<tbody>
			{% for rubric in rubrics %}
				<tr>
					<td><a class="pointer" href="{{ router['posts'].url_for() }}?rubric={{ rubric.id }}">{{ rubric.title }}</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}