{% extends "basis.html" %}
{% block title %}MyThink{% endblock %}

{% block content %}
<!-- `Welcome` text -->
<div class="welcome-head">
	<h1>Join to <i>MyThink</i> community!</h1>
</div>

<div class="mx-auto form">
	<h2 class="text-center">SIGN UP</h2>
	<form method="POST" action="/user/register/">
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">Username</label>
			<input class="form-control" name="username" minlength="5" required>
		</div>
		<div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" name="password" minlength="5" required>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

{% endblock %}