{% extends "basis.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<!-- `Welcome` text -->
<div class="welcome-head">
	<h1>Authorize in <i>MyThink</i>!</h1>
</div>

<div class="mx-auto form">
	<h2 class="text-center">SIGN IN</h2>

	{% if message %}
		<div class="alert alert-danger" role="alert">
			{{ message }}
		</div>
	{% endif %}

	<form method="POST" action="/user/login/">
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">Login</label>
			<input class="form-control" name="login" required>
		</div>
		<div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

{% endblock %}