<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<script>
function addUrlParameter(name, value) {
	var searchParams = new URLSearchParams(window.location.search)
	searchParams.set(name, value)
	window.location.search = searchParams.toString()
}

</script>

<body>
	<a onclick="addUrlParameter('a', 'b')">click</a>
	<a onclick="addUrlParameter('c', 'd')">click</a>
</body>
</html>